<div class="header-container">
  <div class="header-left">
    <div class="logo"></div>
    <div class="admin"></div>
  </div>
  <div class="header-right">
    <div class="name"></div>
    <div class="infomation"></div>
    <div class="alarm"></div>
    <div class="login-logout">
      <a href="/auth">로그인</a>
    </div>
    <div class="help"></div>
  </div>
</div>